body {
	background: #369abc url(images/background.gif) repeat-x;
	font-family: Tahoma, Geneva, sans-serif;
	margin:0px;
	padding:0px;
	text-align:center;
}

.blacksel {
	background: url(images/blacksel.gif) repeat-x;
	display: block;
	height:22px;
	padding:23px;
}

.float1 {
	bottom:10px;
	float:left;
	position:relative;
}

.floats {
	float:left;
}

.main {
	margin:0px auto;
	text-align: left;
	width:1000px;
}

.nonselb{
	display:block;
	padding:23px;
}

.search {
	background: url(images/searchbg.gif) repeat-x;
	border:0px;
	bottom:10px;
	color:#858585;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	height:16px;
	padding:10px;
	position: relative;
	width:200px;
}

.searchbar {
	float:right;
}

.selected {
	background: url(images/selected.gif) center bottom no-repeat;
	display:block;
	float:left;
	height:39px;
}

#content1 {
	background:#8e1743;
	border-top:2px solid #a3d1e1;
	float:left;
	width:629px;
}

#content2 {
	background:#2e3335 url(images/blackbg.gif) repeat-x;
	border-top:2px solid #a3d1e1;
	color: #ffffff;
	float:left;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	font-weight:bold;
	height:198px;
	width:371px;
}

#footer {
	background:#1d1e19 url(images/bottomfooter.gif) bottom no-repeat;
	color: #ffffff;
	font-family: Tahoma, Geneva, sans-serif;
	font-size:14px;
	padding: 0px 10px 10px 10px;
}

#footertop {
	margin: 50px 0px 0px 0px;
}

#leftcontent3 {
	background:#ffffff url(images/bottomleft.gif) bottom left no-repeat;
	float:left;
	padding:10px;
	width:530px;
}

#menu {
	background:#2c3133 url(images/menu.gif) repeat-x;
	border-bottom: 5px solid #4b889d;
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	height:25px;
	padding: 20px 10px 10px 10px;
	text-align: left;
}

#rightcontent3 {
	background:#fff;
	background:#ffffff url(images/bottomright.gif) bottom right no-repeat;
	float:left;
	padding:10px;
	width:430px;
}

#warning {
	background: url(images/warning.gif) repeat-x;
	border-bottom: 1px solid #c7be84;
	color:#5d5520;
	float:right;
	font-family: Georgia, "Times New Roman", Times, serif;
	height: 60px;
	padding:20px;
	width: 960px;
}